POSTGRES_USER=faultline
POSTGRES_PASSWORD=replace-with-a-local-secret
POSTGRES_DB=faultline
POSTGRES_PORT=5432
REDIS_PORT=6379
NATS_PORT=4222
NATS_MONITOR_PORT=8222
CLICKHOUSE_USER=faultline
CLICKHOUSE_PASSWORD=replace-with-a-local-secret
CLICKHOUSE_DB=faultline
CLICKHOUSE_HTTP_PORT=8123
